<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835974437599-kdr6dm4anbvhblibdgdnmfhmhe9uimu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835974437599-kdr6dm4anbvhblibdgdnmfhmhe9uimu9</string>
	<key>API_KEY</key>
	<string>AIzaSyDqJb_TK34ilIM-l9boyz0r8sFZSlehYm0</string>
	<key>GCM_SENDER_ID</key>
	<string>835974437599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeduck.Diary</string>
	<key>PROJECT_ID</key>
	<string>diary-19210</string>
	<key>STORAGE_BUCKET</key>
	<string>diary-19210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835974437599:ios:4e79b12de0b1a90f36276a</string>
</dict>
</plist>